.li_style{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
}
.li_style a:hover{
    color:#8BC34A;
    border-bottom: 2px solid#8BC34A;
}
 .active_class{
color:#8BC34A;
border-bottom: 2px solid#8BC34A;
}